.item-form-page {
  max-width: 45rem;
  margin: 0 auto;
}

.item-form {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.item-form input[type="number"]::-webkit-outer-spin-button,
.item-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-form input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
