:root {
  --primary: #1abc9c;
  --secondary: #34495e;
  --bg-light: #f5f6fa;
  --text-dark: #2c3e50;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  /* Width of sidebar */
  padding: 0;
  /* Reset padding to 0 for full-width header */
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.user-info {
  font-size: 14px;
  color: #7f8c8d;
}

.logout-btn {
  margin-top: 0.75rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;

  font-weight: bold;

  background: #e57373;
  color: #fff;
}

.logout-btn:hover {
  background-color: #e74c3c;
  color: white;
}

/* Utils */
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

button {
  cursor: pointer;
}